EXPO_PUBLIC_SUPABASE_URL=https://supabaseurl.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=supabasekey
EXPO_PUBLIC_ELEVENLABS_API_KEY=elevenlabs_api_key
EXPO_PUBLIC_ELEVENLABS_AGENT_ID=elevenlabs_agent_id
EXPO_PUBLIC_N8N_CHAT_WEBHOOK_URL=https://n8n.example.com/webhook/memo-chat
EXPO_PUBLIC_N8N_TRANSCRIPT_WEBHOOK_URL=https://n8n.example.com/webhook/memo-transcript
EXPO_PUBLIC_N8N_MEETING_URL=https://n8n.example.com/webhook/upload-recording
EXPO_PUBLIC_N8N_CHAT=https://bryanescobar.app.n8n.cloud/webhook/chat